# Ignore everything by default
*

# Keep the ignore rules themselves
!.gitignore

# Allow traversal into firmware so we can re-include a subdirectory
!firmware/
firmware/**

# Allow traversal into freertos_apps
!firmware/freertos_apps/
firmware/freertos_apps/**

# Keep only the apps folder and its contents
!firmware/freertos_apps/apps/
!firmware/freertos_apps/apps/**
