# Ignore everything at repo root
/*

# Keep the ignore rules themselves
!.gitignore

# Allow firmware tree only
!firmware/
firmware/*

# Allow freertos_apps inside firmware
!firmware/freertos_apps/
firmware/freertos_apps/*

# Track only apps and its contents
!firmware/freertos_apps/apps/
!firmware/freertos_apps/apps/**
